<h1> New Contact Card</h1>
<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>
  
  <p>
    <%= form.label :last_name%><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>