<h1> New Contact Card</h1>
<%= form_with scope: :card, url: cards_path, local: true do |form| %>
  <p>
    <%= form.label :first_Name %><br>
    <%= form.text_field :first_Name %>
  </p>
  
  <p>
    <%= form.label :last_Name%><br>
    <%= form.text_field :last_Name %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>